.post {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.post h2 {
    margin: 0;
}

.user {
    align-items: baseline;
}

.perfilImg {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Para tornar a imagem circular */
    object-fit: cover; /* Para manter a proporção da imagem */
    margin-right: 10px; /* Adapte a margem conforme necessário */
    border: 2px solid green;
    transition: 0.2s ease-in-out;
}

.perfilImg:hover {
    transform: scale(1.2);
    transition-delay: 0.2s;
}

.userText {
    max-width: 80vw;
    background: #cccccc42;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.carousel-item {
    max-width: 80vw;
    max-height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
}
  
  .carousel-item img {
    max-height: 300px;
    width: auto;
}